.journeyH{
    margin-top: 50px;
    text-align: center;
    color:maroon;
    font-family: 'Tangerine', cursive;
    font-size: 150px;
    margin-bottom: 50px;
}
.inProgress{
    text-align: center;
    font-size: 100px;
}
.container{
    justify-content: center;
}
.vertical-timeline-element-date{
    color: black;
    font-size: 40px;
}