.journeyH{
    text-align: center;
    color:lightsteelblue;
    font-family: 'Tangerine', cursive;
    font-size: 150px;
    margin-bottom: 50px;
}
.container{
    justify-content: center;
}
.vertical-timeline-element-date{
    color: lightsteelblue;
}
.Journey{
    background-color: black;
}