.journeyH{
    text-align: center;
    color:lightsteelblue;
    font-family: 'Tangerine', cursive;
    font-size: 6.7vw;
    margin-bottom: 5vw;
}
.container{
    justify-content: center;
}
.vertical-timeline-element-date{
    color: lightsteelblue;
}
.journey-background{
    background-color: black;
}